@model CreateRoomViewModel
@inject SignInManager<ApplicationUser> signInManager


<h1>Crate Room</h1>
<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Department" class="control-label"></label>
                <select asp-for="Department"
                        class="form-control"
                        asp-items="Html.GetEnumSelectList<Department>()">
                    <option>Select type ...</option>
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="custom-file">
                    <input asp-for="ExamPaper" class="form-control custom-file-input" />
                    <label asp-for="ExamPaper" class="form-control custom-file-label">chose file...</label>
                </div>
            </div>

            <input type="hidden" asp-for="RoomOwner" value="@User.Identity.Name" />

            <button type="submit" class="btn btn-primary">submit</button>
        </form>

    </div>
</div>