@model Room
this is exam room
Hello @User.Identity.Name
number of user in this room @Model.Users.Count

<div class="card">
    <div>
        <video id="gum-local" autoplay playsinline></video>
    </div>
    <div class="card-footer">
        <button id="showVideo" class="btn btn-primary">Open camera</button>
        <button id="close" class="btn btn-primary"> close camera</button>
    </div>
</div>

